* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

.container {
    width: 100%;
    margin: 0 auto;
}


/* .container{
  width: 100%;          
  max-width: 1200px;    
  margin: 0 auto;      
  padding: 0 15px;      
  box-sizing: border-box;
} */

/* header-section */

.header {
    height: 64px;
    background-color: #EBF1FF;
    display: flex;
    position: sticky;
    top: 0;
}


.logo-img1 {
    height: 30px;
    margin: 18px 0 4px 100px;
    cursor: pointer;
}

.logo-img2 {
    height: 25px;
    margin: 24px 0 6px 40px;
    cursor: pointer;
}

.span1 {
    font-size: 16px;
    font-weight: 600;
    margin: 26px 0 24px 10px;
}

.span1:hover {
    cursor: pointer;
    color: #3A77FF;
}

.logo-img3 {
    height: 40px;
    margin: 12px 0 6px 30px;
    cursor: pointer;
}

.span2 {
    font-size: 16px;
    font-weight: 600;
    margin: 26px 0 6px 10px;
}

.span2:hover {
    cursor: pointer;
    color: #3A77FF;
}

.nav-h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 24px 0 0 520px;
    text-decoration: underline;
}

.nav-h2:hover {
    cursor: pointer;
    text-decoration: none;
}

.navbar-btn{
    background-color: #EBF1FF;
    padding: 0px 20px 0 15px;
    margin: 10px 0 10px 20px;
    border-radius: 25px;
    font-weight: 750;
    border: 6px solid transparent; 
    border-image: linear-gradient(220deg, #23E5DB, #3A77FF, #FFCE32) 1;

}

.pluse{
    font-size: large;
    font-weight: 600;
}

.sell{
    font-size: large;
}

.nav-btn {
    --border-radius: 20px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    padding: 10px 45px 20px 10px;
    margin: 10px 10px 0 10px;
    border: 0;
    background-color: #EBF1FF;
    font-family: "Roboto", Arial, "Segoe UI", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    z-index: 2;
    cursor: pointer;
}

button::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    height: 80%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(#488cfb,
            #29dbbc,
            #ddf505,
            #ff9f0e,
            #e440bb,
            #655adc,
            #488cfb);
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
}

button:hover::after {
    animation-play-state: running;
}

@keyframes rotate-hue {
    to {
        filter: hue-rotate(1turn);
    }
}

button,
button::after {
    box-sizing: border-box;
}

button:active {
    --border-width: 5px;
}


/* navbar-section */

.navbar {
    height: 78px;
    box-shadow: #EBF1FF 0px 6px 6px -4px;
    display: flex;
    background-color: white;
    gap: 20px;
    position: sticky;
    top: 64px;

}

.select1 {
    margin: 15px 0 0 100px;
    padding: 14px 100px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    color: rgb(120, 118, 118);
}

.search-box {
    margin: 10px 0 10px 0px;
    padding: 6px 0px;
    border: none;
    border-radius: 6px;
    display: flex;
    border: none

}

.search-box input {
    padding: 16px 200px 14px 200px;
    margin-left: 0px;
    outline: none;

}

input::placeholder {
    font-size: 16px;
    text-align: center;
    color: #A9A9A9;
}

/* sub-navbar-section */

.sub-navbar {
    /* height: 64px; */
    /* box-shadow: #EBF1FF 0px 6px 6px -4px; */
    display: flex;
    gap: 20px;
}

.nav-select {
    margin: 5px 0 0 90px;
    padding: 10px 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #002F34;
}

.list-items{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-top: 15px;
    color: #2d2d2d;
    cursor: pointer;
}

.list-items li:hover{
    color: #3A77FF;
}

/* banner-section */

.banner-img1{
    height: 220px;
    width: 97%;
    margin-left: 20px;
    margin-top: 15px;
    cursor: pointer;
}

.banner-img2{
    height: 170px;
    width: 97%;
    margin-top: 15px;
    margin-left: 20px;
    cursor: pointer;
}

.banner-img3{
    height: 220px;
    width: 97%;
    margin: 40px 0 30px 20px;
    cursor: pointer;
}

.banner-img4{
    height: 190px;
    width: 78%;
    margin: 70px 0 0 120px;
    cursor: pointer;
}

.topbtn{
     position: fixed;
     background-color: #ffffff;
     color: #000;
     right: 0;
     top: 460px;
     font-weight: 600;
     margin-right: 40px;
     padding: 10px 20px;
     border-radius: 25px;
     border: 1px solid black;
}

.topbtn:hover{
    background-color: #EBF1FF;
}



/* product-section */

.product-1{
    height: 90px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}


.box1 p{
    font-size: 16px;
    font-weight: 600;
    margin: 25px 0 0 15px;
}

.pera{
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 0 10px;
}

.box1{
    width: 100px;
    height: 100px;
    background-color: #F2F4F5;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease; 
}

.box1:hover{
    transform: scale(1.1);
}

.box2{
    width: 100px;
    height: 100px;
    background-color: #F2F4F5;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease; 
}

.box2:hover{
    transform: scale(1.1);
}

.box-img1{
    height: 70%;
    width: 60%;
    margin: 15px 0 0 22px;
}

.box-img2{
    height: 60%;
    width: 70%;
    margin: 25px 0 0 18px;
}

.box-img3{
    height: 75px;
    width: 80px;
    margin: 15px 0 0 10px;
}

.product-2{
    height: 90px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 90px;
}

/* cart-1-section */

.heading1{
    display: flex;
    margin: 100px 120px 0 100px;
    justify-content: space-between;
}

.view-more{
    color: #3A77FF;
    cursor: pointer;
}

.cart1{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.cart-box1{
    height: 400px;
    width: 250px;
    box-shadow: #EBF1FF 0px 6px 6px 2px;
    border-radius: 4px;
    cursor: pointer;
}

.cart-image1{
    height: 65%;
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.cart-price1{
    margin: 10px 0 0 10px;
}

.cart-name1{
    margin: 10px 20px 0 10px;
    color: rgb(50, 50, 50);
}

.cart-address1{
    margin: 10px 20px 0 10px;
    color: rgb(91, 86, 86);
}

/* cart-2-section */

.heading2{
    display: flex;
    margin: 40px 120px 0 100px;
    justify-content: space-between;
}

/* cart-3-section */

.cart-box2{
    height: 430px;
    width: 250px;
    box-shadow: #EBF1FF 0px 6px 6px 2px;
    border-radius: 4px;
    cursor: pointer;
}

.banner-text{
    color: gray;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

/* .footer-section */

.banner5{
    height: 450px;
    width: 100%;
    margin-top: 10px;
}

.banner-img5{
    height: 400px;
    width: 600px;
    cursor: pointer;
    margin: 0 0 0 420px;
}



.footer{
    height: 70px;
    background-color: #002F34;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    /* margin: 20px 20px 0 0; */
}

.footer-text1{
   color: rgb(255, 255, 255);
   margin: 40px 5px 20px 0;
   font-weight: 700;
}

.footer-text2{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 40px 120px 20px 0;
}



